body {
  -webkit-transition-duration: 6s; /* Safari */
  transition-duration: 6s;
}

.black-background {
  background-color: black;
}

.center {
  position: fixed;
  top: 42%;
  left: 44%;
}

.hacker-button {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 20px 38px;
  width: 150px;
  font-family: Courier;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 3px;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
}

.hacker-button:hover {
  border: 2px solid rgb(50, 255, 0);
  background-color: black;
  color: rgb(50, 255, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.green-hacker-button {
  border: 2px solid rgb(50, 255, 0);
  background-color: rgb(50, 255, 0) !important;
  color: rgb(50, 255, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.2s !important; /* Safari */
  transition-duration: 0.2s !important;
}

.fade-out {
  color: white !important;
}

.heartbeat {
  font-size = 50px;
  font-family: Helvetica;
  color: red;
  -webkit-transition-duration: 6s; /* Safari */
  transition-duration: 6s;
}
